 .square {
    background: #fff;
    border: 0px;
    float: left;
    font-size: 40px;
    font-weight:500;
    line-height: 34px;
    height: 100px;
    padding: 0;
    text-align: center;
    width: 100px;
  }

@media (max-width:400px){
    .square{
           height: 80px;
           width: 80px;
    }
}
 
.square:hover{
    background-color: #f7f7f7;
}  
  .square:focus {
    outline:none;
  }
  
.status{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: cursive;
    padding: 10px;
    margin-bottom: 10px;
}
table{
    margin: auto;
}

.pb{
  float: right;
}

.games{
  padding: 40px;
  padding-top: 10px;
}

.rg{
  margin: auto;
  width: fit-content;
  padding: 20px;
}

.dot {
  background: rgb(128, 128, 128);
  border: 5px solid black;
  border-radius: 50%;
  float: left;
  cursor: pointer;
  font-size: 40px;
  font-weight:500;
  line-height: 34px;
  height: 100px;
  padding: 0;
  text-align: center;
  width: 100px;
}

@media (max-width:960px){
  .dot{
         height: 80px;
         width: 80px;
  }
}
@media (max-width:620px){
  .dot{
         height: 60px;
         width: 60px;
  }
}
@media (max-width:450px){
  .dot{
         height: 40px;
         width: 40px;
  }
  /* .cf{ */
    /* height */
  /* } */
}
